ops >= 3, < 4
python-on-whales == 0.79
# Freezing maturin, pydantic and pydantic_core due to previous issues with
# rust versions, and they take a long time to build
maturin == 1.10.2
pydantic_core == 2.41.5
pydantic == 2.12.5
